{% assign 7_discount_value = settings.7_discount_value | times:100.000 %}
{% assign free_shipping_value = settings.free_shipping_value | times:100.000 %}
{% assign 10_discount_value = settings.10_discount_value | times:100.000 %}
{% assign 12_discount_value = settings.12_discount_value | times:100.000 %}
{% assign cart_total = cart.total_price %}
{% assign shipping_value_left = free_shipping_value | minus: cart_total %}
{% assign 7_discount_left = 7_discount_value | minus: cart_total %}
{% assign 10_discount_left = 10_discount_value | minus: cart_total %}
{% assign 12_discount_left = 12_discount_value | minus: cart_total %}

{% if 7_discount_left > 0 %}
    {%- assign difference = 7_discount_left -%}
    {%- assign percentage_left =  7_discount_left | divided_by: difference  -%}
    {{ percentage_left }}
    {%- assign percentage =  1 | minus: percentage_left -%}
    {%- assign progress_width = percentage | times: 25 -%}
    {%- capture message -%}
    <img src="https://www.amabattery.co.za/wpimages/wp4cb45f10.gif"> 

        Add
        <strong>{{ 7_discount_left | money }}</strong> to get
        <strong>7% OFF</strong>
    {%- endcapture -%}

{% elsif free_shipping_value > 0 %}
    {%- assign difference = shipping_value_left | minus: 7_discount_value -%}
    {%- assign percentage_left =  shipping_value_left | divided_by: difference  -%}
    {%- assign percentage =  1 | minus: percentage_left -%}
    {%- assign progress_width = percentage | times: 25 | plus: 25  -%}
    {%- capture message -%}
    <img src="https://www.amabattery.co.za/wpimages/wp4cb45f10.gif"> 

    Add
    <strong>{{ shipping_value_left | money }}</strong> to get
    <strong>free shipping</strong>
    {%- endcapture -%}
  
{% elsif 10_discount_left > 0 %}
    {%- assign difference = 10_discount_value | minus: 7_discount_left -%}
    {%- assign percentage_left =  10_discount_left | divided_by: difference  -%}
    {%- assign percentage =  1 | minus: percentage_left -%}
    {%- assign progress_width = percentage | times: 25 | plus: 50  -%}
    {%- capture message -%}
    <img src="https://www.amabattery.co.za/wpimages/wp4cb45f10.gif"> 

    Add
    <strong>{{ 10_discount_left | money }}</strong> to unlock
    <strong>10% OFF</strong>
    {%- endcapture -%}
{% elsif 12_discount_left > 0 %}
{%- assign difference = 12_discount_value | minus: 10_discount_value -%}
{%- assign percentage_left =  12_discount_left | divided_by: difference  -%}
{%- assign percentage =  1 | minus: percentage_left -%}
{%- assign progress_width = percentage | times: 25 | plus: 75  -%}
{%- capture message -%}
<img src="https://www.amabattery.co.za/wpimages/wp4cb45f10.gif"> 
Add
<strong>{{ 12_discount_left | money }}</strong> to unlock
<strong>12% OFF</strong>
{%- endcapture -%}
{% else %}
{%- assign progress_width = 100  -%}
{%- capture message -%}
<img src="https://media.giphy.com/media/1wX5TJZPqVw3HhyDYn/giphy.gif">
<span>You've unlocked</span></p>
<p><strong>Free shipping & 12% off today!</strong></p>
{%- endcapture -%}
{% endif %}
<div class="progress-bar__container">
  <div class="progress-bar__top">
    <p class="ql-align-center">
      {{message}}
      </p>
  </div>
  <div
    class="progress-bar__middle"
    style="background: rgba(255, 204, 1, 0.31);"
  >
    <div
      class="mu-absolute  mu-h-2"
      style="background: rgb(255, 204, 1); width: {{progress_width}}%;"
    ></div>
        <div
      class="mu-flex-1 mu-h-2 mu-bg-transparent mu-z-20 mu-mix-blend-overlay mu-border-r"
      style="border-color: rgb(113, 128, 150); display: block;"
    ></div>
    <div
      class="mu-flex-1 mu-h-2 mu-bg-transparent mu-z-20 mu-mix-blend-overlay mu-border-r"
      style="border-color: rgb(113, 128, 150); display: block;"
    ></div>
    <div
      class="mu-flex-1 mu-h-2 mu-bg-transparent mu-z-20 mu-mix-blend-overlay mu-border-r"
      style="border-color: rgb(113, 128, 150); display: block;"
    ></div>
    <div
      class="mu-flex-1 mu-h-2 mu-bg-transparent mu-z-20 mu-mix-blend-overlay mu-border-r"
      style="border-color: rgb(113, 128, 150); display: block;"
    ></div>
  </div>
  <div class="progress-bar__bottom">
    <div
      class="mu-absolute mu-transform mu-w-max"
      style="left: 25%; width: fit-content; white-space: nowrap; color: rgb(44, 50, 59); --transform-translate-x: -50%;"
    >
      <p>Free Shipping</p>
    </div>
    <div
      class="mu-absolute mu-transform mu-w-max"
      style="left: 50%; width: fit-content; white-space: nowrap; color: rgb(44, 50, 59); --transform-translate-x: -50%;"
    >
      <p>7% OFF</p>
    </div>
    <div
      class="mu-absolute mu-transform mu-w-max"
      style="left: 75%; width: fit-content; white-space: nowrap; color: rgb(44, 50, 59); --transform-translate-x: -50%;"
    >
     <p>10% OFF</p>
    </div>
    <div
      class="mu-absolute mu-transform mu-w-max"
      style="left: 100%; width: fit-content; white-space: nowrap; color: rgb(44, 50, 59); --transform-translate-x: -100%;"
    >
    <p>12% OFF</p>
    </div>
  </div>
</div>

<style>
    .progress-bar__container{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .progress-bar__container *{
        box-sizing: border-box;
border-width: 0;
border-style: solid;
    }
    .progress-bar__top{
        text-align: center;
        margin-bottom: 4px;
    }
    .progress-bar__top img{
        height: 30px !important;
width: auto !important;
display: inline-block !important;
vertical-align: middle !important;
padding: 0;
    }
    .progress-bar__middle{
        display: flex;
        height: 8px;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    .progress-bar__bottom{
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 10px;
        margin-top: 5px;
    }
    .progress-bar__bottom .mu-transform{
        --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    }
     .mu-absolute{
        position: absolute;
    }
    .mu-flex-1{
        flex: 1 1 0%;
    }
    .mu-h-2 {
  height: 8px;
}
.mu-border-r {
  border-right-width: 1px;
}
.mu-bg-transparent {
  background-color: transparent;
}
.mu-z-20 {
  z-index: 20;
}
</style>