.page-what-we-stand-for .maintitle.title.text-left {
    padding: 0px 22px;
    padding-bottom: 0;
}
.page-what-we-stand-for .image-with-text__heading {
       padding: 0px 22px;
}
.page-what-we-stand-for .has-no-side-gutter .one-half {
    align-items: flex-start;
}
.page-what-we-stand-for .maintitle {
    /* border-bottom: 2px solid; */
  padding: 15px 22px !important;
 
  /* margin-bottom: 0 !important; */
}
.Introducing-Section .image-with-text__heading {
    padding: 22px;
}
.page-our-ingredients-list .has-no-side-gutter .one-half {
    align-items: flex-start;
}
@media(min-width: 799px) {
.page-our-ingredients-list .has-no-side-gutter .one-half:last-child{
  border-left: 1.5px solid;
}
}
.page-our-ingredients-list .maintitle {
    border-bottom: 1.5px solid;
}
@media only screen and (max-width: 798px){
  .page-our-ingredients-list .maintitle {
    border-top: 1.5px solid;
  }
}
.Introducing-Section .maintitle.title {
    padding: 0px 22px;
}
.page-the-never-ever-list .has-no-side-gutter .one-half {
    align-items: flex-start;
}
@media(min-width: 799px) {
  .page-the-never-ever-list .has-no-side-gutter .one-half {
    border-right: 1.5px solid;
  }

}
.page-the-never-ever-list .image-with-text__heading {
    padding: 0px 22px;
}


 @media only screen and (max-width: 480px){
   
 }
@media only screen and (max-width: 480px){
  .mobile-header__content {
    padding: 0 20px;
}
  /* body.page-our-ingredients-list .Introducing-Section .maintitle.title {
    font-size: 13vw!important;
    line-height: 13vw !important;
} */
    body.product .accordion_head-main.good-to-know {
    font-size: 4vw;
  }
 }
@media only screen and (max-width: 798.98px){
    .page-what-we-stand-for .has-no-side-gutter .one-half {
    width: 100%;
}
  body.product .product__information.has-product-sticker.one-half.column.medium-down--one-whole {
    padding: 0px !important;
}
  body.product .product-form-container {
    padding-left: 22px;
    padding-right: 22px;
}
  body.product .product-block.product-block--share {
    padding: 0 22px;
}
   .product .product-main h1.product_name.title{
    /* padding: 22px; */
    padding-bottom: 0;
}
  body.product .accordion_head-main.good-to-know {
    width: 100%;
    font-size: 5vw;
    padding-left: 22px;
  }
 .page-what-we-stand-for section.footer__content.section.is-width-wide.has-background.has-padding-top.has-padding-bottom {
    border-top: 1px solid #000000 !important;
  }
  .page-what-we-stand-for .shopify-section.image-with-text.image-with-text-1 {
    border-bottom: 0;
}
.shopify-section.footer.footer--classic .section.is-width-wide .container.has-limit {
    width: 100%;
}
.page-contact .content.contact-form.contact-form--right {
    flex-direction: column;
    display: flex;
    padding: 22px;
}
  .page-contact form#contact_form button.button.button--primary.is-within-form {
    padding: 8px;
    f.page-contact ont-size: calc(.5rem + 1.2vw);
}
 .page-contact .contact-form__form {
    padding: 0px !important;
    margin: 0 !important;
}
 .page-contact .one-half.medium-down--one-whole.column {
    width: 100%;
    order: -1;
    margin: 0;
}
/* .page-title,
  body.page-about-banner .shopify-section.image-with-text.image-with-text-1 h3.image-with-text__heading.text-align-left.is-regular {
    font-size: 13vw;
    line-height: 13vw;
} */
  /* body.page-about-banner .image-with-text__text.text-align-left.content p {
    line-height: calc(1.5rem + 1.5vw);
    font-size: calc(.8rem + 1.5vw);
}
  .page-what-we-stand-for .image-with-text__text.text-align-left.content p {
    line-height: calc(1.5rem + 1.5vw);
    font-size: calc(.8rem + 1.5vw);
}
  .page-the-never-ever-list .image-with-text__text.text-align-left.content p {
    line-height: calc(1.5rem + 1.5vw);
    font-size: calc(.8rem + 1.5vw);
} */
 .page-our-ingredients-list .Introducing-Section .maintitle.title{
    font-size: 13vw !important;
    line-height: 13vw;
}
  .page-what-we-stand-for .image-with-text__heading.is-small {
    font-size: 6vw;
}
/* .page-what-we-stand-for .maintitle {
    font-size: 13vw!important;
    line-height: 13vw !important;
}
.page-the-never-ever-list .image-with-text__heading {
    font-size: 13vw !important;
    line-height: 13vw !important;
} */
  .better-hair-section .image-with-text__text-column {
    border-right: 0px !important;
    margin: 0px !important;
    width: 100% !important;
}
  .better-hair-section .container {
    display: flex !important;
    flex-direction: column-reverse;
}
  .better-hair-section .image-with-star {
    display: none;
}
  body.product span.zoom-container .lazyload--fade-in.lazyautosizes.lazyloaded {
    border: none !important;
}
 .index .image-element__wrap img.transition--blur-up.image-with-text__image.lazyautosizes.lazyloaded{
   border: none !important;
 }
 /* .index .george-section .image-with-text__text-column {
    width: 80% !important;
     margin: auto !important;
}
*/
  .index .better-section .image-element__wrap {
    /* width: 92%!important; */
    margin: 0 20px 0!important;
    /* border-right: none !important; */
}
  .better-section .image-with-text__column{
    margin : 0 !important ;
    width:100% !important;
  }
    .better-section .image-with-text__wrapper {
    width: 100% !important;
        margin: auto !important;
}
  .image-with-text-3 .image-with-text__text-column {
    width: 94% !important;
    margin: auto !important;
}
.index  #buttonss {
    width: 100%;
    margin-top: 20%;
}
 .index .image-with-text-3 .image-with-left-div {
    display: block !important;
}
  .index .image-with-text-3 .image-with-left-div img{
    float: right !important;
    width: 125px;
  }
 .index  .image-with-text-3 .image-with-text__image-column {
    width: 92% !important;
    padding-top: 92% !important;
    margin: 23px auto !important;
}
  .index .image-element__wrap img.transition--blur-up.image-with-text__image.lazyautosizes.lazyloaded {
    border: none!important;
}
  .index  .section.image-with-text-3 .image-with-left-below {
    display: none;
}

  .index .better-section {
       margin-top: 20px !important;
}
    .george-section .container {
    display: inline-flex !important;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.george-section h3 {
    font-size: 5vw !important;
}
.index .george-section .image-george {
    float: right;
    width: 108px !important;
    height: 146px !important;
}
   .shopify-section.image-with-text.image-with-text-1 {
    border-left: 0px !important;}
.shopify-section.icon-with-text-column {
    border-left: 0px !important;
}
.page-faq .section.is-width-standard.has-gutter-enabled {
    padding: 0px;
}
/*  .page-faq .shopify-section.FAQ.jsFAQ h2.title.faq-title {
    font-size: 45px;
}*/
  .footer__credits.two-thirds.column.small-down--one-whole {
    margin-left: 0px !important;
}
  .page-about-banner .is-beside-vertical-header {
    width: 100%;
}
}
/*  @media (min-width: 799px){
.page-the-never-ever-list.has-vertical-header .is-beside-vertical-header {
    width: 82% !important;
}
  }*/
@media screen and (min-width: 798.98px)
  {
.for_mobile_only {
    display: none;
}
  }
  
    @media screen and (max-width: 798.98px) {
    
.image-with-text-3 .image-with-text__wrapper {
    display: none;
}
    .for_mobile_only.image-with-text__wrapper {
    display: flex !important;
    flex-direction: row-reverse !important;
     /* border-top: 2px solid; */
}
 
 .shopify-section.image-with-text.image-with-text-1 .image-with-text__text-column.image-with-text__column.one-half.medium-down--one-whole.column.has-padding-left.has-padding-right.has-background.is-flex.is-flex-wrap.is-justify-left.is-align-start .buttons.is-left a.button.button--secondary {
    font-size: 16px!important;
}
.for_mobile_only .image-with-text__heading {
    font-size: 4.7vw !important;
    line-height: 6vw;
}
.for_mobile_only .image22 .image-wi {
    width: 75%;
    position: relative;
   /* right: 30%;*/
    top: 45%;
}
 .shopify-section.image-with-text.image-with-text-1 {
    border-bottom: none;
    border-right: 0;
}
.image22 {
    width: 20%;
    align-self: center;
}

   .page-about-banner .shopify-section.image-with-text.image-with-text-1 .image-element__wrap img.transition--blur-up.image-with-text__image.lazyautosizes.ls-is-cached.lazyloaded {
    border: 0px;
}
    body.page-about-banner .shopify-section.image-with-text.image-with-text-1 {
    border-right: 0px;
}
  }

@media (min-width: 799px) and (max-width: 1150px){
/*.product .is-beside-vertical-header {
    width: 85% !important;
}*/
}

.page-about-banner .image-with-text .image-with-text__column {
    border-left: 0px;
}
.page-faq .section {
    max-width: 100% !important;
}

@media only screen and (min-width: 799px) and (max-width: 1250px){
.header-sticky-wrapper.is-flex.is-justify-left.is-flex-column.vertical-header__content .vertical-header__menu-items.header__menu.menu-alignment--left.dropdown-click--false {
    padding: 1rem 0 3rem;
}
}

 @media screen and (min-width: 799px)
    { 
  .product__information.has-product-sticker.one-half.column.medium-down--one-whole {
    padding-top: 26px !important;
}
.product .product__images {
  
    margin: 52px 2% 22px!important;
}
.product-template.product-main {
    padding: 0 !important;
}
 .product-template .breadcrum-main-class {
    position: absolute;
    margin-top: 5px;
    margin-left: 3px;
   z-index:1;
/*     z-index: 999; */
}
  .product-breadcrumb {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
    }

@media only screen and (min-width: 481px) and (max-width: 798.99px){
body.collection .collection__main .medium-down--one-half {
    width: 44% !important;
    margin: 0 3% !important;
}
}
body.page-about-banner .shopify-section.image-with-text.image-with-text-1 {
    border-right: 0;
}
/* .template-article .related-blogs .image-element__wrap {
    max-height: 40em !important;
} */
.shopify-section.image-with-text.image-with-text-1 {
    border-right: 0;
}
@media (min-width: 799px) and (max-width: 1150px){
/*.header--vertical {
    min-height: 100vh;
    width: 18%;
}*/
 /* .search .is-beside-vertical-header {
    width: 82%!important;
    margin: 0 auto;
    background: #e26849;
}*/
 /*   body.page-our-ingredients-list .is-beside-vertical-header {
    width: 82%!important;
    margin: 0 auto;
}*/
  .page-about-banner img.transition--blur-up.image-with-text__image.lazyautosizes.lazyloaded {
    height: 100vh;
    object-fit: cover;
}
 .page-contact h2.contact-form__heading.title {
    font-size: calc(1rem + 0.6vw);
    line-height: calc(2.5rem + 0.6vw);
}
 .page-contact .contact-form__form {
    padding-right: 0 !important;
}
}
/* .page-the-never-ever-list .shopify-section.footer.footer--classic {
    background: #ec86d0;
} */
@media (min-width: 799px){
.template-page .dynamic-sections{
border-top: 1.5px solid;
}
}
.sale.savings{
  display: inline-flex;
  width: initial;
  white-space: nowrap;
}

.sale.savings span.money,
.sale.savings{
  font-size: 1rem !important;
}
.modal_price .price-ui{
  justify-content: flex-end;
  max-width: 300px;
  /* margin-right: 30px; */
}